header{height: 180px;width: 900px;margin: 0 auto;}
        .nR{background: #4888c7;height: 140px; width: 600px;margin: 0 auto;color: #fff; padding: 20px; 
        }
        .but{margin:0 auto; display: flex; justify-content: center; align-items: center; background: #4888c7; width: 80px; padding: 10px; border-radius: 5px; }
        .but a{text-decoration: none;color: #fff; }
        .but:hover {transform: scale(1.05);}
        .but:active {transform: scale(1); box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3);}
        
        .change{width: 900px;height: auto;margin: 0 auto;}
        .change ul{display: flex; justify-content: center; list-style:none;}
        .change img:hover{border: 5px #780000 solid;}
        .change img:active{box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
        }
        .box1{width: 180px; height: 150px; position: relative;}
        .box2{width: 100px;height: 100px;position: absolute;top:-15px;left:-15px;}
        .box2:active{opacity: 0;}
        .box3{width: 100px;height: 100px;position: absolute;top:-15px;left:-15px;}